@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;
}
.mainDiv{
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: background 2s ease-in-out;
    background: linear-gradient(to right,rgb(81, 45, 168),rgb(0, 255, 255,.8));/**/
}
.section{
    height: 100%;
    width: 50%;
    /*background: linear-gradient(45deg,rgb(0, 255, 255,.8),rgb(81, 45, 168));/**/
    background-color: transparent;
    border-radius: 0 260px 150px 0;
    transform: translateX(0);
    transition: transform 300ms linear, border-radius 450ms ease;
    z-index: 5;
}
.section h1{
    color: white;
    width: 100%;
    text-align: center;
    left: calc(50%);
    font-size: 40px;
    position: sticky;
    top: 250px;
}
.section p{
    color: white;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 320px;
    font-size: 16px;
}
.userInput{
    height: 100%;
    width: 50%;
    background-color: rgba(255,255,255);
    border-radius: 260px 0 0 150px;
    transform: translateX(0);
    transition: transform 300ms linear, border-radius 450ms ease;
    z-index: 2;
    display: flex;
    place-items: center;
    place-content: center;
    flex-grow: 1;
}
#toggleButton, #toggleButton2{
    position: absolute;
    left: calc(50% - 55px);
    top: 420px;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 9px;
    outline: 1px solid white;
    background-color: transparent;
    color: white;
    transform: translate(0,0);
}
#toggleButton3{
    position: fixed;
    top: 10px;
    right: 1%;
    width: 110px;
    height: 40px;
    border: none;
    background-color: transparent;
    color: #512da8;
    z-index: 20;
    display: none;
}
#toggleButton3:hover{
    cursor: pointer;
    color: red;
}
#toggleButton2{
    display: none;
}
#toggleButton:hover, #toggleButton2:hover{
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(255,255,255,.3);
}
#logo{
    position: fixed;
    top: 7px;
    left: 25px;
    border: none;
    background-color: transparent;
    color: #512da8;
    z-index: 20;
    font-size: 14px;
    font-weight: bold;
    opacity: .5;
    display: none;
}
form{
    /*outline: 2px solid red;/**/
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
    h1{
        text-align: center;
        font-size: 40px;
    }
    button{
        position: relative;
        left: calc(50% - 55px);
        width: 110px;
        height: 40px;
        border: none;
        border-radius: 9px;
        background-color: #512da8;
        color: white;
        margin-top: 15px;
    }
    p{
        text-align: center;
        margin-top: 5px;
        cursor: default;
        font-size: 15px;
    }
}
input{
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: rgb(211, 211, 211,.5);
    outline: none;
    font-size: 15px;
    padding-left: 10px;
    font-family: Montserrat, sans-serif;
    user-select: text;
    caret-color: dimgrey;
}
#passwordField{
    border-radius: 10px 0 0 10px;
}
#password label{
    border-radius: 0 10px 10px 0;
}
.input::placeholder{
    font-size: 5px;
}
#name{
    margin-top: -10px;
}
form button:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 200ms linear, color 1ms;
}
#forgotPassword:hover{
    cursor: pointer;
    color: red;
}
#passwordField::placeholder{
    font-size: 15px;
}
#eyeOpen{
    display: none;
}
#eyeOpen:hover, #eyeClose:hover{
    cursor: pointer;
}

input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}
/* Hide the eye icon in password fields for Edge */
input[type="password"]::-ms-reveal {
    display: none;
}
@media (min-width:1400px) {
    form{
        gap: 15px;
    }
    input{
        margin-top: -3px;
    }
    #passwordField{
        margin-top: 0;
    }
}
@media (min-width: 900px) and (max-width:1300px) {
    form{
        width: 60%;
    }
    form h1{
        font-size: 35px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
@media (min-width: 1150px) and (max-width:1300px){
    form{
        width: 55%;
    }
}
@media (min-width: 900px) and (max-width:950px){
    form{
        width: 60%;
        h1{
            font-size: 32px;
        }
    }
    input{
        font-size: 14px;
    }
}
@media(max-width: 900px){
    .mainDiv{
        background: linear-gradient(to bottom ,rgb(81, 45, 168),deepskyblue);
    }
    body{
        overflow-x: hidden;
    }
    .section{
        width: 100%;
        position: absolute;
    }
    .userInput{
        transform: translateX(100%);
    }
    #toggleButton{
        transform: translate(-62%,10%);
    }
    #toggleButton2{
        display: block;
        transform: translate(62%,10%);
    }
    .section, .userInput{
        border-radius: 0 0 0 0;
    }
    .icons{
        gap: 10px;
    }
}
@media (max-width:700px){
    form{
        width: 350px;
    }
}
@media (max-width:600px){
    form{
        width: 65%;
        h1{
            font-size: 33px;
        }
    }
    input{
        font-size: 14px;
    }
}
@media (max-width:500px){
    body{
        max-width: 100vw;
        overflow-x: hidden;
    }
    form{
        width: 75%;
        h1{
            font-size: 33px;
        }
    }
}